html {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%; /* Permet de s'assurer que le body occupe toute la hauteur disponible */
  background: linear-gradient(135deg, #AAAAAA, #777777);
  background-size: cover; /* Le fond couvre toute la page */
  background-position: center center; /* Centre le fond pour une meilleure présentation */
  background-repeat: no-repeat; /* Empêche la répétition du fond */
  color: white;
  text-align: center;
  font-family: Arial, sans-serif;
  transition: background 1.5s ease-in-out;
}

#step-players {
  display: block;
  opacity: 1;  /* Assurez-vous qu'il est visible */
}
.step.active {
  display: block;
}
/* Masquer les étapes par défaut */
.step {
  display: block;
}

/* Masquer les étapes spécifiées durant la sélection des joueurs */
.hide-steps .step-theme,
.hide-steps #game-info {
  display: none;
}


#game-info, #scoreboard, .step {
  padding: 10px;
  margin: 10px auto;
  max-width: 95%; /* Limite la largeur pour les mobiles */
  box-sizing: border-box; /* Inclut le padding dans la largeur */
}

#game-info {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

#theme-image {
  width: 100%; /* S'adapte à la largeur disponible */
  max-width: 150px; /* Limite la taille maximale */
  aspect-ratio: 1 / 1; /* Maintient un ratio carré */
  margin: 0 auto;
  border-radius: 50%;
}

#scoreboard {
  display: none;
  flex-wrap: wrap; /* Permet de passer à la ligne sur petits écrans */
  justify-content: center;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}
.step {
  display: none;
  padding: 20px;
}

.step.active {
  display: block;
}
#scoreboard div {
  flex: 1 1 45%; /* Deux colonnes sur mobile */
  margin: 5px;
  text-align: center;
  font-size: 1rem;
}

.button, #num-players {
  width: 100%; /* Boutons larges sur mobile */
  padding: 15px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  box-sizing: border-box;  /* Pour ne pas inclure de marges ou bordures à l'extérieur */
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}


#timer {
  font-size: 2rem;
  margin: 10px auto;
}

@media (max-width: 600px) {
  #scoreboard {
    flex-direction: column; /* Affiche les scores en colonnes */
    align-items: center;
  }
  #scoreboard div {
    flex: 1 1 100%; /* Score prend toute la largeur */
    margin: 5px 0;
  }

  #game-info {
    margin: 5px auto;
  }

  .step h1 {
    font-size: 1.2rem; /* Réduit la taille des titres */
  }
}
